.DS_Store
.idea
.vscode

*.session.sql
*.http

bin/
build/

.git
.gitignore
.github

.env
.env.*
secrets/

docker-compose.yml
Dockerfile
.dockerignore

.github/

script/

test/
*_test.go
coverage.*
*.log