services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito-pvz-service_app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${HTTP_SERVER_DOCKER_PORT:-8080}/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    env_file:
      - .env
    volumes:
      - ./secrets:/app/secrets
    environment:
      TZ: Europe/Moscow
    # entrypoint: ["tail", "-f", "/dev/null"]
    ports:
      - ${HTTP_SERVER_DOCKER_PORT:-8080}:${HTTP_SERVER_DOCKER_PORT:-8080}
      - ${METRICS_SERVER_DOCKER_PORT:-9091}:${METRICS_SERVER_DOCKER_PORT:-9091}
      - ${SWAGGER_SERVER_DOCKER_PORT:-8081}:${SWAGGER_SERVER_DOCKER_PORT:-8081}
      - ${GRPC_SERVER_DOCKER_PORT:-3000}:${GRPC_SERVER_DOCKER_PORT:-3000}
    networks:
      - avito-pvz-service_network
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully  

  postgres:
    image: postgres:18.0
    container_name: avito-pvz-service_postgresql
    command: >
      postgres
      -c max_connections=300
      -c shared_buffers=512MB
      -c effective_cache_size=2GB
    environment:
      POSTGRES_DB: ${DB_NAME:-pvz-service_db}
      POSTGRES_USER: ${DB_USER:-root}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-root}
      TZ: Europe/Moscow
    volumes:
      - avito-pvz-service_pgdata:/var/lib/postgresql/18/main
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-root} -d ${DB_NAME:-pvz-service_db}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    ports:
      - ${DB_PORT:-5432}:5432
    networks:
      - avito-pvz-service_network

  postgres_test:
    image: postgres:18.0
    container_name: avito-pvz-service_postgresql_test
    depends_on:
      - postgres
    environment:
      POSTGRES_DB: ${DB_NAME:-pvz-service_db}
      POSTGRES_USER: ${DB_USER:-root}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-root}
      TZ: Europe/Moscow
    volumes:
      - avito-pvz-service_pgdata_test:/var/lib/postgresql/18/main
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-root} -d ${DB_NAME:-pvz-service_db}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    ports:
      - ${TEST_DB_PORT:-5439}:5432
    networks:
      - avito-pvz-service_network

  pgbouncer:
    image: edoburu/pgbouncer:v1.25.1-p0
    container_name: avito-pvz-service_pgbouncer
    environment:
      DB_HOST: postgres
      DB_PORT: ${DB_PORT:-5432}
      DB_NAME: ${DB_NAME:-pvz-service_db}
      DB_USER: ${DB_USER:-root}
      DB_PASSWORD: ${DB_PASSWORD:-root}
      POOL_MODE: transaction
      MAX_CLIENT_CONN: 3000
      DEFAULT_POOL_SIZE: 150
      MIN_POOL_SIZE: 20
      RESERVE_POOL_SIZE: 20
      RESERVE_POOL_TIMEOUT: 3
      SERVER_IDLE_TIMEOUT: 60
      SERVER_LIFETIME: 3600
      QUERY_WAIT_TIMEOUT: 5
      AUTH_TYPE: scram-sha-256
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U ${DB_USER:-root}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - ${PGBOUNCER_PORT:-5433}:5432
    networks:
      - avito-pvz-service_network

  migrate:
    image: migrate/migrate:v4.19.1
    container_name: avito-pvz-service_migrate
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command: >
      -source file:///migrations
      -database postgres://${DB_USER:-root}:${DB_PASSWORD:-root}@postgres:5432/${DB_NAME:-pvz-service_db}?sslmode=disable
      -verbose up
    networks:
      - avito-pvz-service_network

  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: avito-pvz-service_prometheus
    ports:
      - "9090:9090"
    volumes:
      - "./deploy/prometheus:/etc/prometheus"
    networks:
      - avito-pvz-service_network

  grafana:
    image: grafana/grafana:12.3
    container_name: avito-pvz-service_grafana
    volumes:
      - ./deploy/grafana/grafana.yml:/etc/grafana/provisioning/datasources/datasource.yaml
      - avito-pvz-service_grafana-data:/var/lib/grafana
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - avito-pvz-service_network

  seeder:
    build:
      context: .
      dockerfile: Dockerfile.seeder
    container_name: avito-pvz-service_seeder
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully
    networks:
      - avito-pvz-service_network
    profiles:
      - seeder

  k6-load-test:
    image: grafana/k6:1.6.0
    container_name: avito-pvz-service_k6-load-test
    volumes:
      - ./test/load_test:/scripts
    networks:
      - avito-pvz-service_network
    depends_on:
      - app
    restart: "no"
    command: run /scripts/load_test.js
    profiles:
      - load-test

volumes:
  avito-pvz-service_pgdata:
  avito-pvz-service_pgdata_test:
  avito-pvz-service_grafana-data:

networks:
  avito-pvz-service_network: