services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito-pvz-service_app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      TZ: Europe/Moscow
    # entrypoint: ["tail", "-f", "/dev/null"]
    ports:
      - ${HTTP_SERVER_DOCKER_PORT}:${HTTP_SERVER_DOCKER_PORT}
      - ${METRICS_SERVER_DOCKER_PORT}:${METRICS_SERVER_DOCKER_PORT}
      - ${SWAGGER_SERVER_DOCKER_PORT}:${SWAGGER_SERVER_DOCKER_PORT}
      - ${GRPC_SERVER_DOCKER_PORT}:${GRPC_SERVER_DOCKER_PORT}
    networks:
      - avito-pvz-service_network
    depends_on:
      - postgres

  postgres:
    image: postgres:16.1-alpine3.18
    privileged: false
    container_name: avito-pvz-service_postgresql
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Moscow
    volumes:
      - .:/docker-entrypoint-initdb.d
      - avito-pvz-service_pgdata:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:5432
    networks:
      - avito-pvz-service_network

  postgres_test:
    image: postgres:16.1-alpine3.18
    container_name: avito-pvz-service_postgresql_test
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Moscow
    volumes:
      - .:/docker-entrypoint-initdb.d
      - avito-pvz-service_pgdata_test:/var/lib/postgresql/data
    ports:
      - ${TEST_DB_PORT}:5432
    networks:
      - avito-pvz-service_network

  migrate:
    image: migrate/migrate:v4.19.1
    container_name: avito-pvz-service_migrate
    depends_on:
      - postgres
    volumes:
      - ./migrations:/migrations
    command: >
      -source file:///migrations
      -database postgres://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?sslmode=disable
      -verbose up
    networks:
      - avito-pvz-service_network

  lint:
    image: golangci/golangci-lint:latest
    volumes:
      - .:/app
    working_dir: /app
    command: golangci-lint run

  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: avito-pvz-service_prometheus
    ports:
      - "9090:9090"
    volumes:
      - "./deploy/prometheus:/etc/prometheus"
    networks:
      - avito-pvz-service_network

  grafana:
    image: grafana/grafana:12.3
    container_name: avito-pvz-service_grafana
    volumes:
      - ./deploy/grafana/grafana.yml:/etc/grafana/provisioning/datasources/datasource.yaml
      - avito-pvz-service_grafana-data:/var/lib/grafana
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - avito-pvz-service_network

  k6-load-test:
    image: grafana/k6:1.6.0
    container_name: avito-pvz-service_k6-load-test
    volumes:
      - ./test/load_test:/scripts
    networks:
      - avito-pvz-service_network
    depends_on:
      - app
    restart: "no"
    command: run /scripts/load_test.js

volumes:
  avito-pvz-service_pgdata:
  avito-pvz-service_pgdata_test:
  avito-pvz-service_grafana-data:

networks:
  avito-pvz-service_network: