services:

  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - "./deploy/prometheus:/etc/prometheus"
    networks:
      - avito-pvz-service_network

  grafana:
    image: grafana/grafana:12.3
    container_name: grafana
    links:
      - prometheus:prometheus
    ports:
      - "3030:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - avito-pvz-service_network

  golang:
    container_name: avito-pvz-service_service
    image: golang:1.25-alpine
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - TZ=Europe/Moscow  
    ports:
      - "${HTTP_SERVER_HOST}:${HTTP_SERVER_PORT}:${HTTP_SERVER_PORT}"
    depends_on:
      - postgres
    networks:
      - avito-pvz-service_network

  postgres:
    image: postgres:16.1-alpine3.18
    privileged: false
    container_name: avito-pvz-service_postgresql
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - .:/docker-entrypoint-initdb.d
      - avito-pvz-service_pgdata:/var/lib/postgresql/data
    ports:
      - ${DB_EXTERNAL_PORT}:${DB_INTERNAL_PORT}
    networks:
      - avito-pvz-service_network

  postgres_test:
    image: postgres:16.1-alpine3.18
    container_name: avito-pvz-service_postgresql_test
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - .:/docker-entrypoint-initdb.d
      - avito-pvz-service_pgdata_test:/var/lib/postgresql/data
    ports:
      - ${TEST_DB_EXTERNAL_PORT}:${DB_INTERNAL_PORT}
    networks:
      - avito-pvz-service_network

  migrate:
    image: migrate/migrate:v4.19.1
    container_name: avito-pvz-service_migrate
    depends_on:
      - postgres
    # entrypoint: ["tail", "-f", "/dev/null"]
    volumes:
      - ./migrations:/migrations
      # TODO:  подключение к базе через переменных окружения
    command: >
      -source 'file:///migrations'
      -database 'postgres://root:root@postgres:5432/pvz-service_db?sslmode=disable' -verbose up
    networks:
      - avito-pvz-service_network

volumes:
  avito-pvz-service_pgdata:
  avito-pvz-service_pgdata_test:

networks:
  avito-pvz-service_network: